* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background: linear-gradient(45deg, black 0%, blue 25%, rgb(15, 139, 255) 50%, blue 75%, black 100%);
 }

 .header {
     color: white;
     text-shadow: 2px 2px 5px black;
     font-size: 50px;
 }

 .icon-sm {
     font-size: 3em;
 }

 .icon-lg {
     font-size: 8em;
     text-shadow: 2px 2px 5px black;
     padding: 0 10%;

 }

 .five-day {
    background: linear-gradient(45deg, blue 0%, rgb(15, 139, 255), blue 100%);
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    text-shadow: 2px 2px 3px black;
 }



